<div class="container blur-container" *ngIf="!finishedLoop && supportOrientation && !showWinnerText">
</div>

<div class="container error-container" *ngIf="finishedLoop && supportOrientation && showWinnerText">
  <div class="card">
    <p>You win this time!!!</p>
    <div class="footer-btn">
      <button class="continue-btn" (click)="updateGame()">Continue</button>
      <button class="continue-btn" (click)="playerGuess('white')">Reset</button>
    </div>
  </div>
</div>

<div class="container error-container" *ngIf="showErrorText">
  <div class="card">
    <p>Your guess is wrong!!!</p>
    <div class="footer-btn">
      <button class="continue-btn" (click)="tryAgain()">Try again</button>
      <button class="continue-btn" (click)="playerGuess('white')">Reset</button>
    </div>
  </div>
</div>

<div class="container error-container" *ngIf="!supportOrientation">
  <p>Please change screen to portrait mode!</p>
</div>

<div class="container" *ngIf="supportOrientation">
  <div class="flex center">
    <label class="player-clicked" [ngClass]="{'show':finishedLoop,'hide':!finishedLoop}">You have to guess {{simonArray.length}} times.</label>
  </div>
  <div class="flex center">
    <app-game-button color="red" (guess)="playerGuess($event)"></app-game-button>
  </div>
  <div class="flex middle">
    <app-game-button color="blue" (guess)="playerGuess($event)"></app-game-button>
    <p *ngIf="showDebug">{{ count }}</p>
    <app-game-button color="green" (guess)="playerGuess($event)"></app-game-button>
  </div>
  <div class="flex center">
    <app-game-button color="yellow" (guess)="playerGuess($event)"></app-game-button>
  </div>
  <!-- <div class="flex center">
    <app-game-button *ngIf="!showWinnerText"  color="white" (guess)="playerGuess($event)">Restart</app-game-button>
  </div> -->
  <div *ngIf="showDebug">
    <span *ngFor="let data of simonArray">{{data}}</span>
  </div>
</div>
