<div class="home-container">
  <h1>Aureon Game Land</h1>
  <p>Disclaimer</p>
  <label style="color: red;">This game is in early development! You may encounter bugs. Please feel free to report</label>
  <p>How to play</p>
  <label>Simon is kind of memory game. </label>
  <label>At first, the game itself shows the order of button. You have to memorize the order of button.</label>
  <label>You can't click the buttons until the text <i>You have to You have to guess 2 times</i> appears.</label>
  <label>If your guess is wrong, the game shows error box.</label>
  <label>If your guess is correct, the game shows winner box and level up.</label>
  <label>In next level, you have to memorize the new one into the current order.</label>
  <label>Good Luck GAMER!</label>
  <button class="continue-btn" routerLink="/simon-game">Continue</button>
</div>
